button, .button
    margin: 0.5rem
    border-width: 1px
    border-style: solid
    background-color: transparent
    height: 2.5em
    padding: 0 1.25em
    border-radius: 0.25em
    display: inline-flex
    align-items: center
    justify-content: center

    @include from($tablet)
        &:hover
            border-color: #aaa

    &:active
        border-color: $darkest-gray

.is-text-primary
    color: $color-primary

.is-icon
    height: 2.5em
    width: 2.5em
    min-height: 2.5em
    min-width: 2.5em
    max-height: 2.5em
    max-width: 2.5em
    padding: 0 !important
    >*
        transform: scale(1.25)

.is-primary
    border-width: 2px
    background-color: $color-primary
    color: white
    border-color: transparent
    
    @include from($tablet)
        &:hover
            border-color: transparent
            background-color: saturate(lighten($color-primary,7.5),15)

    &:active
        border-color: darken($color-primary,3)
        background-color: darken($color-primary,3)
    
    
    &[disabled]
        background-color: #bbb

.is-flat
    border-color: transparent
    color: $color-primary

    @include from($tablet)
        &:hover
            border-color: transparent
            background-color: transparentize($color-primary,0.8)

    &:active
        border-color: transparent
        background-color: transparentize($color-primary,0.6)
    
    

    &[disabled]
        color: gray

.is-rounded
    border-radius: 4em

.is-large
    font-size: 1.15em
    height: 2.75em
    padding: 0 1.5em

.is-small
    font-size: 0.9em
    height: 2.25em
    padding: 0 1em

[disabled]
    opacity: 0.5
    pointer-events: none
    // color: gray

// .button-group
//     button, .button
//         border-radius: 0px
//         border-right-width: 0px

//         &:hover + button
//             border-left-color: #aaa

//         &:active + button
//             border-left-color: $darkest-gray

//         &:first-child
//             border-top-left-radius: 8px
//             border-bottom-left-radius: 8px

//         &:last-child
//             border-top-right-radius: 8px
//             border-bottom-right-radius: 8px
//             border-right-width: 1px

//     .is-primary
//         border-width: 1px !important
//         border-color: transparent !important

//         &:hover + button
//             border-left-color: transparent
            