.modal-container
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    z-index: 15
    background-color: rgba(0,0,0,0.4)
    display: flex
    align-items: center
    justify-content: center
    .modal
        background-color: white
        padding: 0.5em 1em
        display: flex
        flex-direction: column
        align-items: center
        width: 100%
        max-width: 400px
        