.tag
    background-color: #eee
    display: inline-block
    padding: 0.1em 0.75em
    border-radius: 1em
    font-size: 0.8em
    text-transform: uppercase
    color: white

    &.is-danger
        background-color: $color-danger
        
    &.is-warning
        background-color: $color-warning
        
    &.is-good
        background-color: $color-good
        