<template>
  <div>
  <div class="home" v-if="$route.name != 'Patient'">
    <header class="home__navigation">
      <div class="home__navigation-wrapper">
        <nav class="l-space-between l-container l-container--no-margin">
          <div>
            <h1 class="title title--3 color-against-primary" style="margin-left: 1rem">COVID Tracker</h1>
          </div>
          <div class="l-center-child color-against-primary">
            <div>
              Hi,
              <b>John Peter</b>
            </div>
            <button class="button is-primary is-rounded">
              (Logout)
            </button>
          </div>
        </nav>
        <div class="Tabs">
          <div class="Tabs__wrapper">
            <div
              @click="$route.name == 'Closed' ? $router.replace({name: 'Open'}) : ''"
              class="Tabs__item"
              :class="$route.name != 'Closed' ? 'Tabs__item--active' : ''"
            >Cases For Review ({{forReviewCount}})</div>
            <div
              @click="$route.name != 'Closed' ? $router.replace({name: 'Closed'}) : ''"
              class="Tabs__item"
              :class="$route.name == 'Closed' ? 'Tabs__item--active' : ''"
            >Reviewed Cases ({{caseCloseCount}})</div>
          </div>
        </div>
      </div>
    </header>

    <!-- MOBILE VERSION TABLE (hidden from tablets to larger screens)-->

    <div class="viewpager hide-from-tablet">
      <transition :name="$route.name == 'Closed' ? 'to-left' : 'to-right'">
        <div class="slideable" key="1" v-if="$route.name != 'Closed'">
          <table class="table-sort">
              <tr>
                <th>SORT BY:</th>    
                <th @click="sortByDate()" class="hover-pointer">Date Submitted <img src="../../public/images/sort.svg" class="sort-icon"></th>
                <th @click="sortByAssessment()" class="hover-pointer">Assessment <img src="../../public/images/sort.svg" class="sort-icon"></th>
              </tr>
          </table>
          <!-- Open Cases -->
          <!-- <ul style="list-style: none; padding: 0; margin: 0">
            <li v-for="date in open_cases_date_array" :key="date">
              <div class="h-padding color-primary" style="border-bottom: 1px solid gainsboro">
                {{date}}
              </div> -->
              
              <ul class="mob-list">
                <li
                  class="list-item"
                  v-for="patient in open_cases"
                  :key="patient.no"
                >
                  <div class="l-space-between l-container h-margin-bottom-small">
                    <b>Case # {{patient.caseno}}</b>
                    <div class="half-opacity italic">
                      {{makeReadableDate(patient.createdAt)}}
                      <!-- <EyeIcon size="1x" v-if="patient.casestatus == 'being-reviewed'"></EyeIcon>
                      {{patient.casestatus == 'for-review' ? 'For Review' : patient.casestatus == 'being-reviewed' ? 'Being Reviewed' : 'Reviewed'}} -->
                    </div>
                  </div>
                  <div class="l-space-between l-container">
                    <div>
                      <div class="h-margin-bottom-small">
                        <span class="half-opacity">Gender: </span>
                        <span style="text-transform: capitalize">{{patient.gender}}</span>
                        <span class="half-opacity h-margin-left">Age: </span>
                        <span>{{patient.age}}</span>
                      </div>
                      <div>
                        <span class="half-opacity">Assessment:</span>
                        <span
                          class="h-margin-left tag"
                          :class="patient.actions.includes('pui') ? 'is-danger' : patient.actions.includes('pum') ? 'is-warning' : 'is-good'"
                        >{{patient.actions.includes('pui') ? 'PUI' : patient.actions.includes('pum') ? 'PUM' : ''}}</span>
                      </div>
                    </div>
                    <button
                      @click="$router.push('/' + patient.pid)"
                      class="h-no-margin is-rounded"
                      :class="patient.casestatus == 'for-review' ? 'is-primary' : '' "
                      :disabled="patient.casestatus == 'being-reviewed'"
                    >View Case</button>
                  </div>
                </li>
              </ul>
            <!-- </li>
          </ul> -->

        </div>
        <div class="slideable" key="2" v-else>

          <!-- Closed Cases -->
          <!-- <ul style="list-style: none; padding: 0; margin: 0;">
            <li v-for="date in closed_cases_date_array" :key="date">
              <div class="h-padding color-primary" style="border-bottom: 1px solid gainsboro">
                {{date}}
              </div> -->
              <table class="table-sort">
                  <tr>
                    <th>SORT BY:</th>    
                    <th @click="sortByDate()" class="hover-pointer">Date Submitted <img src="../../public/images/sort.svg" class="sort-icon"></th>
                    <th @click="sortByAssessment()" class="hover-pointer">Assessment <img src="../../public/images/sort.svg" class="sort-icon"></th>
                  </tr>
              </table>
              <ul class="mob-list">
                <li
                  class="list-item"
                  v-for="patient in closed_cases"
                  :key="patient.no"
                >
                  <div class="l-space-between l-container h-margin-bottom-small">
                    <b>Case # {{patient.caseno}}</b>
                    <div class="half-opacity italic">
                      {{makeReadableDate(patient.createdAt)}}
                      <!-- <EyeIcon size="1x" v-if="patient.casestatus == 'being-reviewed'"></EyeIcon>
                      {{patient.casestatus == 'for-review' ? 'For Review' : patient.casestatus == 'being-reviewed' ? 'Being Reviewed' : 'Reviewed'}} -->
                    </div>
                  </div>
                  <div class="l-space-between l-container">
                    <div>
                      <div class="h-margin-bottom-small">
                        <span class="half-opacity">Gender: </span>
                        <span style="text-transform: capitalize">{{patient.gender}}</span>
                        <span class="half-opacity h-margin-left">Age: </span>
                        <span>{{patient.age}}</span>
                      </div>
                      <div>
                        <span class="half-opacity">Assessment:</span>
                        <span
                          class="h-margin-left tag"
                          :class="patient.actions.includes('pui') ? 'is-danger' : patient.actions.includes('pum') ? 'is-warning' : 'is-good'"
                        >{{patient.actions.includes('pui') ? 'PUI' : patient.actions.includes('pum') ? 'PUM' : ''}}</span>
                      </div>
                    </div>
                    <button
                      @click="$router.push('/' + patient.pid)"
                      class="h-no-margin is-rounded"
                      :class="patient.casestatus == 'for-review' ? 'is-primary' : '' "
                      :disabled="patient.casestatus == 'being-reviewed'"
                    >View Case</button>
                  </div>
                </li>
              </ul>
            <!-- </li>
          </ul> -->

        </div>
      </transition>
    </div>

    <!-- DESKTOP VERSION TABLE (hidden to phone screens) -->

    <div class="viewpager hide-to-phone">
      <transition :name="$route.name == 'Closed' ? 'to-left' : 'to-right'">
        <div class="slideable" key="1" v-if="$route.name != 'Closed'">

          <!-- Open Cases -->
          <table cellspacing="0" class="l-container" style="margin-top: 2em">
                <thead>
                  <tr>
                    <th>Case Number</th>
                    <th @click="sortByDate()" class="hover-pointer">Date Submitted <img src="../../public/images/sort.svg" class="sort-icon"></th>
                    <th>Age</th>
                    <th>Gender</th>
                    <th @click="sortByAssessment()" class="hover-pointer">Assessment <img src="../../public/images/sort.svg" class="sort-icon"></th>
                    <th>Case Status</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="patient in open_cases" :key="patient.no">
                    <td>{{patient.caseno}}</td>
                    <td>{{makeReadableDate(patient.createdAt)}}</td>
                    <td>{{patient.age}}</td>
                    <td>{{patient.gender == 'male' ? 'Male' : 'Female'}}</td>
                    <td>
                      <span
                        class="tag"
                        :class="patient.severity == 'PUI' ? 'is-danger' : patient.severity == 'PUM' ? 'is-warning' : 'is-good'"
                      >{{patient.severity}}</span>
                    </td>
                    <td>
                      <div class="half-opacity italic l-align-center">
                        <EyeIcon
                          size="1x"
                          v-if="patient.casestatus == 'being-reviewed'"
                          style="margin-right: 0.25em"
                        ></EyeIcon>
                        {{patient.casestatus == 'for-review' ? ' For Review' : patient.casestatus == 'being-reviewed' ? ' Being Reviewed' : ' Reviewed'}}
                      </div>
                    </td>
                    <td>
                      <button
                        @click="$router.push('/' + patient.pid)"
                        class="h-no-margin is-rounded"
                        :class="patient.casestatus == 'for-review' ? 'is-primary' : '' "
                        :disabled="patient.casestatus == 'being-reviewed'"
                      >View Case</button>
                    </td>
                  </tr>
                </tbody>
              </table>
        

        </div>
        <div class="slideable" key="2" v-else>

          <!-- Closed cases -->
          <table cellspacing="0" class="l-container" style="margin-top: 2em">
                <thead>
                  <tr>
                    <th>Case Number</th>
                    <th @click="sortByDate()" class="hover-pointer">Date Submitted <img src="../../public/images/sort.svg" class="sort-icon"></th>
                    <th>Age</th>
                    <th>Gender</th>
                    <th @click="sortByAssessment()" class="hover-pointer">Assessment <img src="../../public/images/sort.svg" class="sort-icon"></th>
                    <th>Case Status</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="patient in closed_cases" :key="patient.no">
                    <td>{{patient.caseno}}</td>
                    <td>{{makeReadableDate(patient.createdAt)}}</td>
                    <td>{{patient.age}}</td>
                    <td>{{patient.gender == 'male' ? 'Male' : 'Female'}}</td>
                    <td>
                      <span
                        class="tag"
                        :class="patient.severity == 'PUI' ? 'is-danger' : patient.severity == 'PUM' ? 'is-warning' : 'is-good'"
                      >{{patient.severity}}</span>
                    </td>
                    <td>
                      <div class="half-opacity italic l-align-center">
                        Reviewed
                      </div>
                    </td>
                    <td>
                      <button
                        @click="$router.push('/' + patient.pid)"
                        class="h-no-margin is-rounded"
                        :class="patient.casestatus == 'for-review' ? 'is-primary' : '' "
                        :disabled="patient.casestatus == 'being-reviewed'"
                      >View Case</button>
                    </td>
                  </tr>
                </tbody>
              </table>
          

        </div>
      </transition>
    </div>

    <!-- PAGINATION -->
    <div class="pagination l-container">
      <button @click="gotoPreviousPage()" v-bind:disabled="!previousButtonEnabled">Previous</button>
      <button @click="gotoNextPage()" v-bind:disabled="!nextButtonEnabled">Next</button>
    </div>
  </div>
  <Patient v-if="$route.name == 'Patient'" style="position: fixed; top: 0; left: 0; right: 0; bottom: 0; overflow: auto; z-index: 15"></Patient>
  </div>
</template>

<style lang="sass">
@import '@/style/main'
.home
  overflow-y: auto
  overflow-x: hidden
  background-color: white
  position: absolute
  bottom: 0
  top: 0
  left: 0
  right: 0

  &__navigation-wrapper
    min-height: 48px
    box-shadow: 0px 2px 4px rgba(0,0,0,0.1)
    background-color: $color-primary
    width: 100%
    
    
  &__navigation
    display: flex
    align-items: center
    position: sticky
    top: 0
    z-index: 10

    

.Tabs
  &__wrapper
    display: flex
    position: sticky
    top: 48px
    background-color: white
    z-index: 10
  &__item
    flex: 1 1 0px
    padding: 1em
    text-align: center
    border-bottom: 2px solid gainsboro
    cursor: pointer
    &:active
      background-color: transparentize($color-primary, 0.8)

  &__item--active
    border-bottom: 2px solid $color-primary
    color: $color-primary

.viewpager
  position: relative

.sort-icon
  width: 10px

.hover-pointer
  cursor: pointer

.table-sort
  margin: 1em 0 0
  border: none

.mob-list
  list-style: none
  padding: 0
  margin-top: 0

.pagination
  text-align: center
  margin: 1em auto 2em !important

.pagination button
  margin: 0
  min-width: 100px
  border-radius: 0
  color: #3c8ad7
</style>

<script>
export default {
  components: {
    Patient: () => import('./Patient')
  },
  computed: {
    
    // copy patients data from store
    patientsFromStore: function() {
      return this.$store.state.patient.patients;
    },

    forReviewCountFromStore: function() {
      // console.log("this.$store.state.patient.forReviewCount", this.$store.state.patient.forReviewCount);
      return this.$store.state.patient.forReviewCount;
    },

    caseCloseCountFromStore: function() {
      // console.log("this.$store.state.patient.caseClosedCount", this.$store.state.patient.caseClosedCount);
      return this.$store.state.patient.caseClosedCount;
    },

    // all patients with open cases
    open_cases: function() {
      return this.patients
        ? this.patients.filter(patient => !patient.caseClosed)
        : [];
    },

    // all dates in open cases
    open_cases_date_array: function() {
      return this.patients
        ? [
            ...new Set(
              this.open_cases.map(patient =>
                this.makeReadableDate(patient.createdAt)
              )
            )
          ]
        : [];
    },

    // all patients with closed cases
    closed_cases: function() {
      return this.patients
        ? this.patients.filter(patient => patient.caseClosed)
        : [];
    },

    // all dates in closed cases
    closed_cases_date_array: function() {
      return this.patients
        ? [
            ...new Set(
              this.closed_cases.map(patient =>
                this.makeReadableDate(patient.createdAt)
              )
            )
          ]
        : [];
    }
  },
  watch: {

    // Once patients are loaded, assign it to patients data
    patientsFromStore: {
      immediate: true,
      handler: function(value) {
        if(value.length > 0)
        {
          // console.log("value", value);
          this.pageReferenceStack.push(value[value.length - 1].pid);
          // console.log("pageReferenceStack", this.pageReferenceStack);
          this.patients = JSON.parse(JSON.stringify(value));
        }
      }
    },

    caseCloseCountFromStore: {
      immediate: true,
      handler: function(value){
        try{
          if(value)
            this.caseCloseCount = value;
          if((this.stage != undefined) &&(this.stage == 2))
          {
            this.evaluateMaxPageNumber(value);
          }
        } catch(er){}
      }
    },

    forReviewCountFromStore: {
      immediate: true,
      handler: function(value){
        try{
          if(value)
            this.forReviewCount = value;
          if((this.stage != undefined) &&(this.stage == 1))
          {
            this.evaluateMaxPageNumber(value);
          }
        } catch(er){}
      }
    },

    page: {
        immediate: true,
        handler: function(value){
          // console.log("page", this.page);
          if(this.page == 1)
          {
            this.previousButtonEnabled = false;
          }
          else
          {
            this.previousButtonEnabled = true;
          }

          if(this.page == this.maxPage)
          {
            this.nextButtonEnabled = false;
          }
          else
          {
            this.nextButtonEnabled = true;
          }
        }
    },

    '$route.name' : {
        handler: function(route) {
           if(route == "Open")
           {
             this.stage = 1;
           }
           else if(route == "Closed")
           {
             this.stage = 2;
           }
        },
        deep: true,
        immediate: true
    },

    stage : {
      handler: function(stage){
        this.pageReferenceStack = [];
        this.page = 1;
        if(stage == 1)
        {
          this.$store.dispatch('loadPatients', {
            mutate : true,
            limit : 10,
            caseClosed : false
          })
          this.evaluateMaxPageNumber(this.forReviewCount);
        }
        else
        {
          this.$store.dispatch('loadPatients', {
            mutate : true,
            limit : 10,
            caseClosed : true
          })
          this.evaluateMaxPageNumber(this.caseCloseCount);
        }
      }
    }
  },
  methods: {
    makeReadableDate(sluggified_date) {
      var date = new Date(sluggified_date);
      var y = date.getFullYear();
      var m = date.getMonth() + 1;
      var d = date.getDate();
      m = m < 10 ? "0" + m : m;
      d = d < 10 ? "0" + d : d;

      var months = [
        "Jan",
        "Feb",
        "Mar",
        "Apr",
        "May",
        "Jun",
        "Jul",
        "Aug",
        "Sep",
        "Oct",
        "Nov",
        "Dec"
      ];

      m = months[parseInt(m) - 1];

      return [d, m, y].join(" ");
    },
    sortByDate(){
      try{
        if(this.sortByDateMode == "asc")
        {
          this.sortByDateMode = "desc";
        }
        else
        {
          this.sortByDateMode = "asc";
        }

        this.patients.sort((a, b) => {
          if(this.sortByDateMode == "asc") {
            return a.caseno - b.caseno;
          } else {
            return b.caseno - a.caseno;
          }
        });
      }catch(er){
        console.log("ERROR", er);
      }
    },
    sortByAssessment(){
      try{
        if(this.sortByAssessmentMode == "pui")
        {
          this.sortByAssessmentMode = "pum";
        }
        else
        {
          this.sortByAssessmentMode = "pui";
        }
        
        this.patients.sort((a, b) => {
          var as = (a.severity == "PUI")? 1 : 2;
          var bs = (b.severity == "PUI")? 1 : 2;
          if(this.sortByAssessmentMode == "pui") {
            return as - bs;
          } else {
            return bs - as;
          }
        });

      }catch(er){
        console.log("ERROR", er);
      }
    },
    gotoNextPage(){
      let startAt = this.pageReferenceStack[this.pageReferenceStack.length - 1];
      this.$store.dispatch('loadPatients', {
        mutate : true,
        limit : 10,
        caseClosed : (this.stage == 1)? false : true,
        startAt,
        page: this.page
      });
      this.page++;
    },
    gotoPreviousPage(){
      this.pageReferenceStack.pop();
      this.pageReferenceStack.pop();
      let startAt = this.pageReferenceStack[this.pageReferenceStack.length - 1];
      if((startAt != undefined) || ((startAt == undefined) && (this.page == 2)))
      {
        this.$store.dispatch('loadPatients', {
          mutate : true,
          limit : 10,
          caseClosed : (this.stage == 1)? false : true,
          startAt,
          page: this.page - 2
        });
        this.page--;
      }
    },
    evaluateMaxPageNumber(value){
      let addOne = false;
      let remainder = value % 10;
      if(remainder != 0)
      {
        addOne = true;
      }
      let perfectNumber = value - remainder;
      this.maxPage = perfectNumber / 10;
      if(addOne)
      {
        this.maxPage += 1;
      }
      // console.log("this.maxPage", this.maxPage);
    }
  },
  data: function() {
    return {
      patients: [],
      stage : 1, //1 - for Review, 2 - case close
      caseCloseCount: 0,
      forReviewCount: 0,
      page : 1,
      maxPage : 0,
      pageReferenceStack : [],
      sortByDateMode : "asc",
      sortByAssessmentMode : "pui",
      nextButtonEnabled : true,
      previousButtonEnabled : true
    };
  }
};
</script>