<template>
  <div class="patient">
    <header class="patient__navigation">
      <nav class="l-space-between l-container l-container--no-margin">
        <div class="l-center-child">
          <button @click="$router.go(-1)" class="button is-icon is-primary is-rounded is-large">
            <ArrowLeftIcon size="1.25x"></ArrowLeftIcon>
          </button>
          <h1 class="title title--3 color-against-primary">Case Details</h1>
        </div>
        <div class="l-center-child color-against-primary">
          <div>
            Hi,
            <b>John Peter</b>
          </div>
          <button class="button is-primary is-rounded">
            (Logout)
          </button>
        </div>
      </nav>
    </header>
    <div
      v-if="patient"
      class="l-container hide-to-phone"
      style="display: flex; justify-content: center; align-items: flex-start; margin-bottom: 1em"
    >
      <div
        style="border: 1px solid gainsboro; border-radius: 0.25em; margin-top: 1em; flex-grow: 1; margin-right: 1em"
      >
        <header style="text-align: center; padding: 0.5em; background-color: #444; color: white">
          <h1 class="title title--4">CASE # {{patient.caseno}}</h1>
        </header>
        <header style="text-align: center; padding: 1.25em 1em; border-bottom: 1px solid gainsboro">
          <h1 class="title title--2">
            {{patient.age}} years old, {{patient.gender}} from
            <span
              style="text-transform: capitalize"
            >{{patient.city}}, {{patient.province}}</span>
          </h1>
        </header>
        <div class="h-padding">
          <h2 class="title title--2 color-primary" style="margin-bottom: 1em">Personal Information</h2>
          <div
            class="l-columns"
            style="margin-bottom: 1em; align-items: flex-start; border-bottom: 1px solid gainsboro; padding-bottom: 1em"
          >
            <div class="l-column">Name</div>
            <div class="l-column">
              <b style="text-transform: uppercase">{{patient.lastname}}</b>
              <br />
              <small>SURNAME</small>
            </div>
            <div class="l-column">
              <b style="text-transform: uppercase">{{patient.firstname}}</b>
              <br />
              <small>FIRST NAME</small>
            </div>
            <div class="l-column">
              <b style="text-transform: uppercase">{{patient.middlename}}</b>
              <br />
              <small>MIDDLE NAME</small>
            </div>
          </div>
          <div
            class="l-columns"
            style="margin-bottom: 1em; align-items: flex-start; border-bottom: 1px solid gainsboro; padding-bottom: 1em"
          >
            <div class="l-column">Birthday</div>
            <b class="l-column">{{patient.birthdate}}</b>
            <div class="l-column">Age</div>
            <b class="l-column">{{patient.age}}</b>
          </div>
          <div class="l-columns">
            <div class="l-column">Gender</div>
            <b class="l-column" style="text-transform: Capitalize">{{patient.gender}}</b>
            <div class="l-column">Marital Status</div>
            <b class="l-column" style="text-transform: Capitalize">{{patient.status}}</b>
          </div>
        </div>
        <div class="h-padding">
          <h2 class="title title--3 color-primary" style="margin-bottom: 1em">Self Assessment</h2>
          <div
            class="l-flex"
            style="flex-grow: 1; padding: 1em 0; border-bottom: 1px solid gainsboro"
          >
            <div style="flex-grow: 1">Experienced fever of at least 38°C in the past 14 days</div>
            <div
              style="text-align: center; font-weight: bold; margin: 0 5em"
            >{{patient.symptoms.includes('fever') ? 'YES' : 'NO'}}</div>
          </div>
          <div
            class="l-flex"
            style="flex-grow: 1; padding: 1em 0; border-bottom: 1px solid gainsboro"
          >
            <div
              style="flex-grow: 1"
            >Has cared for, lived with, or has been in direct contact with someone suspected or confirmed to have COVID-19</div>
            <div
              style="text-align: center; font-weight: bold; margin: 0 5em"
            >{{patient.exposure ? 'YES' : 'NO'}}</div>
          </div>
          <div
            class="l-flex"
            style="flex-grow: 1; padding: 1em 0; border-bottom: 1px solid gainsboro"
          >
            <div
              style="flex-grow: 1"
            >Is living or working in a group or cluster with influenza like symptoms</div>
            <div
              style="text-align: center; font-weight: bold; margin: 0 5em"
            >{{patient.clusterILI ? 'YES' : 'NO'}}</div>
          </div>
          <div
            class="l-flex"
            style="flex-grow: 1; padding: 1em 0; border-bottom: 1px solid gainsboro"
          >
            <div
              style="flex-grow: 1"
            >Has pre-existing condition or co-morbid like asthma, cardiovascular diease, diabetes, HIV, cancer, chronic kidney disease, etc.</div>
            <div
              style="text-align: center; font-weight: bold; margin: 0 5em"
            >{{patient.comorbitities ? 'YES' : 'NO'}}</div>
          </div>
          <div
            class="l-flex"
            style="flex-grow: 1; padding: 1em 0; border-bottom: 1px solid gainsboro"
          >
            <div style="flex-grow: 1">Experienced difficulty breathing in the past 14 days</div>
            <div
              style="text-align: center; font-weight: bold; margin: 0 5em"
            >{{patient.symptoms.includes('breathing-difficulty') ? 'YES' : 'NO'}}</div>
          </div>
        </div>
        <div class="h-padding">
          <h2 class="title title--3 color-primary" style="margin-bottom: 1em">Travel History</h2>
          <div
            class="l-flex"
            style="flex-grow: 1; padding: 1em 0; border-bottom: 1px solid gainsboro"
          >
            <div style="flex-grow: 1">Has travelled in the past 14 days</div>
            <div
              style="text-align: center; font-weight: bold; margin: 0 5em"
            >{{patient.travelHistoryLocal.concat(patient.travelHistoryInternational).length > 0 ? 'YES' : 'NO'}}</div>
          </div>
          <div
            class="l-columns"
            style="margin-bottom: 1em; margin-top: 1em; align-items: flex-start; border-bottom: 1px solid gainsboro; padding-bottom: 1em"
          >
            <div class="l-column">Location/s</div>
            <div class="l-column">
              <b style="text-transform: uppercase">LOCAL</b>
              <br />
              <span>
                <ul style="padding: 0; list-style: none">
                  <li v-for="place in patient.travelHistoryLocal" :key="place">{{place}}</li>
                </ul>
              </span>
            </div>
            <div class="l-column">
              <b style="text-transform: uppercase">INTERNATIONAL</b>
              <br />
              <span>
                <ul style="padding: 0; list-style: none">
                  <li v-for="place in patient.travelHistoryInternational" key="place">{{place}}</li>
                </ul>
              </span>
            </div>
          </div>

          <h2 class="title title--3 color-primary" style="margin-bottom: 1em">Other symptoms</h2>
          <ul
            style="padding-left: 0; display: grid; grid-template-columns: 1fr 1fr 1fr; list-style: none"
          >
            <li
              style="font-size: 1em; margin: 0.25em; padding: 0.25em 1em; color: #555; text-transform: capitalize"
              v-for="symptom in ['fever', 'dry-cough', 'fatigue', 'sputum', 'sore-throat', 'headache', 'myalgia-arthralgia', 'chills', 'nausea', 'vomiting', 'nasal-congestion', 'diarrhea', 'breathing-difficulty', 'whistling-sound', 'severe-condition']" :key="symptom"
            >
              <input
                type="checkbox"
                disabled
                style="transform: scale(1.2)"
                :style="patient.symptoms.includes(symptom) ? 'filter: brightness(0.8) contrast(3); opacity: 1' : ''"
                :checked="patient.symptoms.includes(symptom)"
              />
              <span
                :style="patient.symptoms.includes(symptom) ? 'font-weight: bold' : ''"
              >{{symptom}}</span>
            </li>
          </ul>
          <br />
          <h2 class="title title--3 color-primary" style="margin-bottom: 1em">Contact Details</h2>
          <div
            class="l-columns"
            style="margin-bottom: 1em; align-items: flex-start; padding-bottom: 1em"
          >
            <div class="l-column">Address</div>
            <div class="l-column">
              <b style="text-transform: uppercase">{{patient.address}}</b>
              <br />
              <small>UNIT / STREET NUMBER</small>
            </div>
            <div class="l-column">
              <b style="text-transform: uppercase">{{patient.barangay}}</b>
              <br />
              <small>BARANGAY</small>
            </div>
          </div>
          <div
            class="l-columns"
            style="margin-bottom: 1em; align-items: flex-start; border-bottom: 1px solid gainsboro; padding-bottom: 1em"
          >
            <div class="l-column"></div>
            <div class="l-column">
              <b style="text-transform: uppercase">{{patient.city}}</b>
              <br />
              <small>CITY / TOWN</small>
            </div>
            <div class="l-column">
              <b style="text-transform: uppercase">{{patient.province}}</b>
              <br />
              <small>PROVINCE</small>
            </div>
          </div>
          <div
            class="l-columns"
            style="margin-bottom: 1em; align-items: flex-start; padding-bottom: 1em"
          >
            <div class="l-column">Contact Number</div>
            <div class="l-column">
              <b style="text-transform: uppercase">{{patient.mobilenumber}}</b>
              <br />
              <small>MOBILE NUMBER</small>
            </div>
            <div class="l-column">
              <b
                style="text-transform: uppercase"
              >{{patient.phonenumber ? patient.phonenumber : 'N/A'}}</b>
              <br />
              <small>PHONE NUMBER</small>
            </div>
          </div>
          <div
            class="l-columns"
            style="margin-bottom: 1em; align-items: flex-start; padding-bottom: 1em"
          >
            <div class="l-column">Email Address</div>
            <div class="l-column">
              <b style="text-transform:">{{patient.email}}</b>
            </div>
            <div class="l-column">
              <b style="text-transform: uppercase"></b>
            </div>
          </div>
        </div>
      </div>
      <div
        style="position: sticky; top: 70px; border: 1px solid gainsboro; border-radius: 0.25em; margin-top: 1em; width: 300px"
      >
        <h1 class="title title--3 h-padding color-primary">Case Assessment</h1>
        <div class="l-flex" style="padding-left: 1em; padding-right: 1em">
          <div>
            <div
              v-if="patient.severity != 'PUI'"
              style="width: 0.5em; height: 0.5em; border-radius: 3em; margin-right: 1em; margin-top: 0.5em"
              :class="patient.severity == 'PUM' ? 'bg-color-warning' : 'bg-color-good'"
            ></div>
            <AlertTriangleIcon v-else class="color-danger" size="1.25x" style="margin-right: 1em"></AlertTriangleIcon>
          </div>
          <div>
            <p
              class="bold"
              :class="patient.severity == 'PUI' ? 'color-danger' : patient.severity == 'PUM' ? 'color-warning' : 'color-good'"
            >This person is initially assessed to be a {{assessment == 'pui' ? 'Person Under Investigation (PUI)' : assessment == 'pum' ? 'Person Under Monitoring (PUM)' : 'undefined'}}.</p>
            <br />
            <p
              style="font-size: 0.9em;"
            >They will be informed on the status of their case via text message upon final assessment of a health worker.</p>
          </div>
        </div>
        <br />
        <div style="text-align: center" v-if="!patient.caseClosed">
          <button
            @click="showConfirmRecommendation = true"
            class="is-primary is-rounded"
            style="width: 17em; max-width: calc(100% - 2em)"
          >Confirm Recommendation</button>
          <button
            @click="showChangeRecommendation = true"
            class="color-primary is-rounded"
            style="width: 17em; max-width: calc(100% - 2em); margin-top: 0"
          >Change Assessment</button>
        </div>
        <br />
      </div>
    </div>

    <!-- Mobile Layout -->
    <div v-if="patient" class="hide-from-tablet" style="margin: auto">
      <header
        style="text-align: center; padding: 0.5em; background-color: #444; color: white; position: sticky; top: 56px; z-index: 10"
      >
        <h1 class="title title--4">CASE # {{patient.caseno}}</h1>
      </header>
      <!-- Not included in mobile wireframe-->
      <!-- <header style="text-align: center; padding: 1.25em 1em; border-bottom: 1px solid gainsboro">
        <h1 class="title title--2">
          {{patient.age}} years old, {{patient.gender}} from <span style="text-transform: capitalize">{{patient.city}}, {{patient.province}}</span>
        </h1>
      </header>-->
      <div
        style="width: 100%; border-bottom: 1px solid gainsboro; border-radius: 0.25em; position: fixed; bottom: 0; background-color: white; box-shadow: 0px -2px 1em rgba(0,0,0,0.3); z-index: 1"
      >
        <div class="l-space-between">
          <h1 class="title title--3 h-padding color-primary">Case Assessment</h1>
          <button v-if="!patient.caseClosed" class="is-icon is-large" @click="expandBottomModal = !expandBottomModal">
            <ChevronUpIcon v-if="!expandBottomModal"></ChevronUpIcon>
            <ChevronDownIcon v-else></ChevronDownIcon>
          </button>
        </div>
        <div class="l-flex" style="padding-left: 1em; padding-right: 1em;">
          <div>
            <div
              v-if="patient.severity != 'PUI'"
              style="width: 0.5em; height: 0.5em; border-radius: 3em; margin-right: 1em; margin-top: 0.35em"
              :class="patient.severity == 'PUM' ? 'bg-color-warning' : 'bg-color-good'"
            ></div>
            <AlertTriangleIcon v-else class="color-danger" size="1.25x" style="margin-right: 1em"></AlertTriangleIcon>
          </div>
          <div>
            <p
              class="bold"
              :class="patient.severity == 'PUI' ? 'color-danger' : patient.severity == 'PUM' ? 'color-warning' : 'color-good'"
            >This person is initially assessed to be a {{assessment == 'pui' ? 'Person Under Investigation (PUI)' : assessment == 'pum' ? 'Person Under Monitoring (PUM)' : 'undefined'}}.</p>
            <br />
          </div>
        </div>
        <div v-if="expandBottomModal && !patient.caseClosed">
          <div class="l-flex" style="padding-left: 1em; padding-right: 1em">
            <p
              style="font-size: 0.9em;"
            >They will be informed on the status of their case via text message upon final assessment of a health worker.</p>
          </div>
          <br />
          <div style="text-align: center" v-if="!patient.caseClosed">
            <button
              @click="showConfirmRecommendation = true"
              class="is-primary is-rounded"
              style="width: 17em; max-width: calc(100% - 2em)"
            >Confirm Recommendation</button>
            <button
              @click="showChangeRecommendation = true"
              class="color-primary is-rounded"
              style="width: 17em; max-width: calc(100% - 2em); margin-top: 0"
            >Change Assessment</button>
          </div>

          <br />
        </div>
      </div>
      <div class="l-container l-container--no-margin" style></div>
      <div class="h-padding">
        <h2 class="title title--2 color-primary" style="margin-bottom: 1em">Personal Information</h2>
        <div class="l-flex" style="margin-bottom: 1em">
          <span style="font-weight: normal; flex-basis: 10em">Name</span>
          <div>
            <b style="text-transform: uppercase">{{patient.lastname}}</b>
            <br />
            <small>SURNAME</small>
          </div>
        </div>
        <div class="l-flex" style="margin-bottom: 1em">
          <span style="font-weight: normal; flex-basis: 10em"></span>
          <div>
            <b style="text-transform: uppercase">{{patient.firstname}}</b>
            <br />
            <small>FIRST NAME</small>
          </div>
        </div>
        <div class="l-flex" style="margin-bottom: 1em">
          <span style="font-weight: normal; flex-basis: 10em; "></span>
          <div>
            <b style="text-transform: uppercase">{{patient.middlename}}</b>
            <br />
            <small>MIDDLE NAME</small>
          </div>
        </div>
        <hr />
        <div class="l-flex" style="margin: 1em 0">
          <span style="font-weight: normal; flex-basis: 10em">Birthday</span>
          <div>
            <b style="text-transform: uppercase">{{makeReadableDate(patient.birthdate)}}</b>
          </div>
        </div>
        <hr />
        <div class="l-flex" style="margin: 1em 0">
          <span style="font-weight: normal; flex-basis: 10em">Age</span>
          <div>
            <b style="text-transform: uppercase">{{patient.age}}</b>
          </div>
        </div>
        <hr />
        <div class="l-flex" style="margin: 1em 0">
          <span style="font-weight: normal; flex-basis: 10em">Gender</span>
          <div>
            <b style="text-transform: uppercase">{{patient.gender}}</b>
          </div>
        </div>
        <hr />
        <div class="l-flex" style="margin: 1em 0">
          <span style="font-weight: normal; flex-basis: 10em">Marital Status</span>
          <div>
            <b style="text-transform: uppercase">{{patient.status}}</b>
          </div>
        </div>
        <hr />
      </div>
      <div class="h-padding">
        <h2 class="title title--3 color-primary" style="margin-bottom: 1em">Self Assessment</h2>
        <div class="l-space-between" style="margin: 1em 0">
          <p>Experienced fever of at least 38°C in the past 14 days</p>
          <b style="margin: 0 3em">{{patient.symptoms.includes('fever') ? 'YES' : 'NO'}}</b>
        </div>
        <hr />
        <div class="l-space-between" style="margin: 1em 0">
          <p>Has cared for, lived with, or has been in direct contact with someone suspected or confirmed to have COVID-19</p>
          <b style="margin: 0 3em">{{patient.exposure ? 'YES' : 'NO'}}</b>
        </div>
        <hr />
        <div class="l-space-between" style="margin: 1em 0">
          <p>Is living or working in a group or cluster with influenza like symptoms</p>
          <b style="margin: 0 3em">{{patient.clusterILI ? 'YES' : 'NO'}}</b>
        </div>
        <hr />
        <div class="l-space-between" style="margin: 1em 0">
          <p>Has pre-existing condition or co-morbid like asthma, cardiovascular diease, diabetes, HIV, cancer, chronic kidney disease, etc.</p>
          <b style="margin: 0 3em">{{patient.comorbitities ? 'YES' : 'NO'}}</b>
        </div>
        <hr />
        <div class="l-space-between" style="margin: 1em 0">
          <p>Experienced difficulty breathing in the past 14 days</p>
          <b
            style="margin: 0 3em"
          >{{patient.symptoms.includes('breathing-difficulty') ? 'YES' : 'NO'}}</b>
        </div>
        <hr />
      </div>
      <div class="h-padding">
        <h2 class="title title--3 color-primary" style="margin-bottom: 1em">Travel History</h2>
        <div class="l-space-between" style="margin: 1em 0">
          <p>Has travelled in the past 14 days</p>
          <b style="margin: 0 3em">{{patient.symptoms.includes('fever') ? 'YES' : 'NO'}}</b>
        </div>

        <hr />
        <div class="l-flex" style="margin: 1em 0">
          <span style="font-weight: normal; flex-basis: 10em">Location/s</span>
          <div>
            <b style="text-transform: uppercase">Local</b>
            <ul style="padding: 0; list-style: none">
              <li v-for="place in patient.travelHistoryLocal" :key="place">{{place}}</li>
            </ul>
          </div>
        </div>
        <div class="l-flex" style="margin: 1em 0">
          <span style="font-weight: normal; flex-basis: 10em"></span>
          <div>
            <b style="text-transform: uppercase">International</b>
            <ul style="padding: 0; list-style: none">
              <li v-for="place in patient.travelHistoryInternational" :key="place">{{place}}</li>
            </ul>
          </div>
        </div>
        <hr />
        <br />
        <h2 class="title title--3 color-primary" style="margin-bottom: 1em">Symptoms</h2>
        <ul style="padding-left: 0; list-style: none">
          <li
            style="font-size: 1em; margin: 0.25em; padding: 0.25em 1em; color: #555; text-transform: capitalize"
            v-for="symptom in ['fever', 'dry-cough', 'fatigue', 'sputum', 'sore-throat', 'headache', 'myalgia-arthralgia', 'chills', 'nausea', 'vomiting', 'nasal-congestion', 'diarrhea', 'breathing-difficulty', 'whistling-sound', 'severe-condition']"
            :key="symptom"
          >
            <input
              type="checkbox"
              disabled
              style="transform: scale(1.2)"
              :style="patient.symptoms.includes(symptom) ? 'filter: brightness(0.8) contrast(3); opacity: 1' : ''"
              :checked="patient.symptoms.includes(symptom)"
            />
            <span :style="patient.symptoms.includes(symptom) ? 'font-weight: bold' : ''">{{symptom}}</span>
          </li>
        </ul>
        <br />

        <!-- Contact Details -->
        <h2 class="title title--3 color-primary" style="margin-bottom: 1em">Contact Details</h2>
        <div class="l-flex" style="margin-bottom: 1em">
          <span style="font-weight: normal; flex-basis: 10em">Address</span>
          <div>
            <b style="text-transform: uppercase">{{patient.address}}</b>
            <br />
            <small>UNIT / STREET</small>
          </div>
        </div>
        <div class="l-flex" style="margin-bottom: 1em">
          <span style="font-weight: normal; flex-basis: 10em"></span>
          <div>
            <b style="text-transform: uppercase">{{patient.barangay}}</b>
            <br />
            <small>BARANGAY</small>
          </div>
        </div>
        <div class="l-flex" style="margin-bottom: 1em">
          <span style="font-weight: normal; flex-basis: 10em; "></span>
          <div>
            <b style="text-transform: uppercase">{{patient.city}}</b>
            <br />
            <small>CITY</small>
          </div>
        </div>
        <div class="l-flex" style="margin-bottom: 1em">
          <span style="font-weight: normal; flex-basis: 10em; "></span>
          <div>
            <b style="text-transform: uppercase">{{patient.province}}</b>
            <br />
            <small>PROVINCE</small>
          </div>
        </div>
        <hr />
        <div class="l-flex" style="margin: 1em 0">
          <span style="font-weight: normal; flex-basis: 10em">Mobile Number</span>
          <div>
            <b style="text-transform: uppercase">{{patient.mobilenumber}}</b>
          </div>
        </div>
        <hr />
        <div class="l-flex" style="margin: 1em 0">
          <span style="font-weight: normal; flex-basis: 10em">Phone Number</span>
          <div>
            <b style="text-transform: uppercase">{{patient.phonenumber}}</b>
          </div>
        </div>
        <hr />
        <div class="l-flex" style="margin: 1em 0">
          <span style="font-weight: normal; flex-basis: 10em">Email</span>
          <div>
            <b style="text-transform: uppercase">{{patient.email}}</b>
          </div>
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
      </div>
    </div>
    <div v-if="showConfirmRecommendation" class="confirm-assessment-modal modal-container">
      <div class="modal" style="padding-top: 3em">
        <h1 class="title title--2" style="margin-bottom: 0.5em">CASE # {{patient.caseno}}</h1>
        <div
          class="title title--3"
          style="text-transform: uppercase; font-weight: normal"
        >{{patient.lastname}}, {{patient.firstname}} {{patient.middlename}}</div>
        <div
          class="title title--3"
          style="text-transform: uppercase; font-weight: normal"
        >{{patient.age}}, {{patient.gender}} - {{patient.city}}, {{patient.province}}</div>

        <p
          class="l-container"
          style="margin-top: 2em;"
        >Before confirming, please ensure you have done the following:</p>
        <br />
        <label class="l-flex l-container">
          <input type="checkbox" v-model="calledSync" />
          <p>Called the patient on recommending his or her case upon assessment</p>
        </label>

        <button
          class="is-flat"
          v-if="patient.mobilenumber"
        >Call Patient via {{patient.mobilenumber}}</button>
        <button class="is-flat" v-if="patient.phonenumber">Call Patient via {{patient.phonenumber}}</button>
        <div
          class="l-flex"
          style="flex-direction: column; align-items: stretch; margin-bottom: 2em"
        >
          <button
            @click="$store.dispatch('confirmRecommendation', patient.pid)"
            :disabled="!calledSync"
            class="is-primary is-rounded"
          >Confirm Recommendation and Close Case</button>
          <button
            @click="showConfirmRecommendation = false; calledSync = false"
            class="is-rounded"
          >Cancel</button>
        </div>
      </div>
    </div>
    <div v-if="showChangeRecommendation" class="change-assessment-modal modal-container">
      <div class="modal" style="padding-top: 3em">
        <h1 class="title title--2" style="margin-bottom: 0.5em">CASE # {{patient.caseno}}</h1>
        <div
          class="title title--3"
          style="text-transform: uppercase; font-weight: normal"
        >{{patient.lastname}}, {{patient.firstname}} {{patient.middlename}}</div>
        <div
          class="title title--3"
          style="text-transform: uppercase; font-weight: normal"
        >{{patient.age}}, {{patient.gender}} - {{patient.city}}, {{patient.province}}</div>

        <p
          class="l-container"
          style="margin-top: 2em;"
        >Please select the appropriate risk assessment for this person to close the case:</p>
        <br />
        <label class="l-flex l-container">
          <input
            type="radio"
            name="assessment"
            :checked="assessment == 'pum'"
            @input="newAssessment = assessment != 'pum' ? 'pum' : null"
          />
          <p>Person Under Monitoring (PUM)</p>
        </label>
        <label class="l-flex l-container">
          <input
            type="radio"
            name="assessment"
            :checked="assessment == 'pui'"
            @input="newAssessment = assessment != 'pui' ? 'pui' : null"
          />
          <p>Person Under Investigation (PUI)</p>
        </label>

        <div
          class="l-flex"
          style="flex-direction: column; align-items: stretch; margin-bottom: 2em"
        >
          <button
            :disabled="!newAssessment"
            class="is-primary is-rounded"
            @click="$store.dispatch('changeAssessment', {
            pid: patient.pid,
            oldActions: patient.actions,
            newAssessment: newAssessment,
          }); showChangeRecommendation = false; newAssessment = null;"
          >Change Assessment</button>
          <button
            @click="showChangeRecommendation = false; newAssessment = null;"
            class="is-rounded"
          >Cancel</button>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="sass">
@import '../style/resources/variables'

.patient
  background-color: white
  min-height: 80vh
    
  &__navigation
    display: flex
    align-items: center
    position: sticky
    top: 0
    z-index: 10
    min-height: 48px
    box-shadow: 0px 2px 4px rgba(0,0,0,0.1)
    background-color: $color-primary
    width: 100%

</style>

<script>
import axios from "axios";
export default {
  data: function() {
    return {
      patient: {
        actions: []
      },
      showConfirmRecommendation: false,
      showChangeRecommendation: false,
      expandBottomModal: false,
      newAssessment: null,
      calledSync: false,
      questions: [
        "Question 1",
        "Question 2",
        "Question 3",
        "Question 4",
        "Question 5",
        "Question 5"
      ]
    };
  },
  computed: {
    patientFromStore: function() {
      var tempPatient = this.$store.state.patient.patients.find(
        patient => patient.pid == this.$route.params.patient
      );

      if (this.tempPatient) {
        this.patient = tempPatient;
        if (tempPatient.actions[0] == "pui") {
          this.patient.severity = "PUI";
        } else if (item.actions[0] == "pum") {
          this.patient.severity = "PUM";
        }
      } else if (this.$route.params.patient) {
        var url =
          "https://backend-serverless-vkupy7dkca-ue.a.run.app/api/patient/" +
          this.$route.params.patient;
        axios.get(url).then(response => {
          this.patient = response.data.data;
        });
      }
    },
    assessment: function() {
      if (this.patient.actions.includes("pui")) {
        return "pui";
      } else if (this.patient.actions.includes("pum")) {
        return "pum";
      } else {
        ("null");
      }
    }
  },
  methods: {
    makeReadableDate(sluggified_date) {
      var date = new Date(sluggified_date);
      var y = date.getFullYear();
      var m = date.getMonth() + 1;
      var d = date.getDate();
      m = m < 10 ? "0" + m : m;
      d = d < 10 ? "0" + d : d;

      var months = [
        "Jan",
        "Feb",
        "Mar",
        "Apr",
        "May",
        "Jun",
        "Jul",
        "Aug",
        "Sep",
        "Oct",
        "Nov",
        "Dec"
      ];

      m = months[parseInt(m) - 1];

      return [d, m, y].join(" ");
    }
  },
  watch: {
    patientFromStore: {
      immediate: true,
      handler(value) {
        this.patient = value;
      }
    },
    patient: function(patient){
      if (patient.actions[0] == "pui") {
          patient.severity = "PUI";
        } else if (patient.actions[0] == "pum") {
          patient.severity = "PUM";
        }
    }
  }
};
</script>