$blueprint-background-color: slategray
$blueprint-content-color: white
.blueprint
    background-color: saturate(darken($blueprint-background-color,20),30)
    *
        outline-offset: -1px
        color: $blueprint-content-color

        &::placeholder
            color: inherit

    *:nth-child(odd)
        background-color: #ffffff11

    *:nth-child(even)
        background-color: #ffffff22