.l-container
    width: calc(100% - (2 * 16px))
    margin: auto
    @include from($tablet)
        max-width: 960px
    @include from($desktop)
        max-width: 1152px
    @include from($hd)
        max-width: 1344px
    // max-width: 500px

    /* TODO: Replace margin/gap with responsive values */

    &--fluid
        max-width: initial

    &--no-margin
        width: 100%

.l-center-child
    display: flex
    align-items: center
    justify-content: center
    text-align: center

.l-flex
    display: flex
    align-items: flex-start

.l-space-between
    display: flex
    align-items: center
    justify-content: space-between

.l-align-center
    display: flex
    align-items: center

.l-columns
    display: flex
    width: 100%
    align-items: center
    justify-content: center

    @include to($phone)
        flex-wrap: wrap

.l-column
    flex: 1 1 0px

    @include to($phone)
        flex-basis: 100%

.h-padding
    padding: 1em

.h-padding-left
    padding-left: 1em

.h-padding-right
    padding-right: 1em

.h-margin-left
    margin-left: 1em

.h-margin-bottom-small
    margin-bottom: 0.5em

.h-no-margin
    margin: 0