.fade
    &-enter-active, &-leave-active
        transition: opacity .5s
    &-enter, &-leave-to
        opacity: 0

.show-up
    &-enter-active, &-leave-active
        transition: transform .25s, opacity .25s
        width: 100%
    &-enter
        transform: translateY(48px)
        opacity: 0
        
    &-leave-to
        transform: translateY(-5%)

.show-down
    &-enter-active, &-leave-active
        transition: transform .25s, opacity .25s
        width: 100%
    &-enter
        z-index: -1
        transform: translateY(-5px)
    &-leave-to
        background-color: white
        transform: translateY(48px)
        opacity: 0
        z-index: 2
        

.to-left
    &-enter-active, &-leave-active
        position: absolute
        top: 0
        left: 0
        transition: transform .25s, opacity .25s
        width: 100%
    &-enter
        transform: translateX(50%)
        opacity: 0
    &-leave-to
        transform: translateX(-50%)
        opacity: 0

.to-right
    &-enter-active, &-leave-active
        transition: transform .25s, opacity .25s
        position: absolute
        top: 0
        left: 0
        width: 100%
    &-enter
        transform: translateX(-50%)
        opacity: 0
    &-leave-to
        transform: translateX(50%)
        opacity: 0

.slideable
    will-change: transform, opacity