<template>
<div id="app">
    <router-view></router-view>
</div>
</template>

<script>
export default {
  mounted(){

    /** Hide the preloader */
    window.document.querySelector('#preloader').style.opacity = '0'
    window.document.querySelector('#preloader').style.pointerEvents = 'none'
    
    /** Load all patients to vuex store */
    this.$store.dispatch('loadPatients', {
      mutate : true,
      limit : 10,
      caseClosed : false
    })

    this.$store.dispatch('loadPatients', {
      mutate : false,
      mutateCloseCaseCounter : true,
      limit : 10,
      caseClosed : true
    })

  },
  computed: {
    activeTransition: function(){
      if(this.$route){
        return this.$route.name == 'Patient' ? 'show-up' : 'show-down'
      }
      else {
        return 'fade'
      }
    }
  }
}
</script>

<style lang="sass">
#app
  // position: absolute
  // top: 0
  // bottom: 0
  // left: 0
  // right: 0
  // overflow: hidden

.animated-view
  // will-change: transform, opacity
  // position: absolute
  // top: 0
  // left: 0
  // right: 0
  // bottom: 0

</style>